html, body {
    height: 100%;
    width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .loading-body {
      width: 12em;
      display: flex;
      justify-content: space-evenly;
  }
  
  .p1 {
      animation: loading-animation 2s infinite;
  }
  
  .p2 {
      animation: loading-animation 2s 333ms infinite;
  }
  
  .p3 {
      animation: loading-animation 2s 666ms infinite;
  }
  
  @keyframes loading-animation {
  
      25% {
          transform: translateY(0px)
      }
      50% {
          transform: translateY(-20px)
      }
      75% {
          transform: translateY(0px)
      }
      
  }